beautifulsoup4==4.8.2
django-rest-auth==0.9.5
django-web3-auth==0.1
Django==2.2.10
djangorestframework==3.11.0
ethereum==2.3.2
flake8==3.7.9
Pillow==7.0.0
python-memcached==1.59
requests==2.22.0
responses==0.10.9
rlp==1.2.0
sentry-sdk==0.14.1
web3==5.5.1
