Django==2.2.9
django-rest-auth==0.9.5
djangorestframework==3.11.0
django-web3-auth==0.1
rlp==1.2.0
Pillow==6.2.1
requests==2.22.0
python-memcached==1.59
django-imagekit==4.0.2
sentry-sdk==0.13.5
flake8==3.7.9
