python-opengraph==0.0.2
web3==5.5.1
ethereum==2.3.2
Django==2.2.10
django-rest-auth==0.9.5
djangorestframework==3.11.0
django-web3-auth==0.1
rlp==1.2.0
Pillow==7.0.0
requests==2.22.0
python-memcached==1.59
sentry-sdk==0.14.1
flake8==3.7.9
responses==0.10.9
