<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Advertising Matrix</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="container" style="padding: 5em">
                        <h2>Publishers</h2>
                        <ul class="list-group">
                            <input id="publisher-data" class="form-control form-control-lg" type="text"
                                placeholder="Add your website to our advertisement queue" style="margin-bottom:0.2em">
                            <input id="publisher-data" class="form-control form-control-lg" type="text"
                                placeholder="Propose a reward per click" style="margin-bottom:0.2em">
                            <input id="publisher-data" class="form-control form-control-lg" type="text"
                                placeholder="Set how long a user should spend on your website"
                                style="margin-bottom:0.2em">
                            <input id="publisher-data" class="form-control form-control-lg" type="text"
                                placeholder="Received a feedback from your visitors from your own customized questionnaire"
                                style="margin-bottom:0.2em">
                        </ul>
                        <button class="btn btn-success" id="forward-publisher">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>