{% extends "home/base.html" %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="container" style="padding: 5em;">
                    <h2>Click. Answer. Earn</h2>
                    <h3>Go on interesting sites, click to answer & earn ETH</h3>
                    <button type="button" id="login-button" class="btn btn-primary">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="container" style="padding: 5em;">
                    <h3>Publish your site, set a reward & ask a question. Get traffic and first impression
                        feedback</h3>
                    <button type="button" class="btn btn-primary">Telegram Bot</button>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="{% static "img/landing_image.jpeg" %}" alt="Landing image">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="container" style="padding: 5em;">
                    <h2>Become a user: </h2>
                    <ol>
                        <li>Click website</li>
                        <li>Stay on for a time duration count down</li>
                        <li>Answer multiple choice question</li>
                        <li>Receive ETH as the reward</li>
                    </ol>
                    <button class="btn btn-success">Earn ETH</button>
                </div>
            </div>
            <div class="col">
                <div class="image-column-third">
                    <img src="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="container" style="padding: 5em">
                    <h2>Publishers</h2>
                    <ul class="list-group">
                        <input id="publisher-data" class="form-control form-control-lg" type="text" placeholder="Add your website to our advertisement queue" style="margin-bottom:0.2em">
                        <input id="publisher-data" class="form-control form-control-lg" type="text" placeholder="Propose a reward per click" style="margin-bottom:0.2em">
                        <input id="publisher-data" class="form-control form-control-lg" type="text" placeholder="Set how long a user should spend on your website" style="margin-bottom:0.2em">
                        <input id="publisher-data" class="form-control form-control-lg" type="text" placeholder="Received a feedback from your visitors from your own customized questionnaire" style="margin-bottom:0.2em">
                    </ul>      
                    <button class="btn btn-success" id="forward-publisher">Proceed</button>          
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock content %}