{% extends "home/base.html" %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="container" style="padding: 5em;">
                        <h1>Click. Answer. Earn</h1>
                        <h5>Go on interesting sites, click to answer & earn ETH</h5>
                        <button type="button" id="login-button" class="btn btn-success">Earn ETH</button>
                    </div>
                </div>
                <div class="row">
                    <div class="container" style="padding: 5em;">
                        <h5>Publish your site, set a reward & ask a question. Get traffic and first impression
                            feedback.</h5>
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/publish';">Get
                            Answers
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="{% static "img/landing_image.png" %}" alt="Landing image" style="max-width: 100%">
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding: 5em">
        <div class="row">
            <div class="col">
                <div class="container" style="padding: 5em;">
                    <h2>Become a publisher:</h2>
                    <ol>
                        <li>Place your website URL, page title & description.</li>
                        <li>Set reward per click</li>
                        <li>Set time duration to stay on your site</li>
                        <li>Place multiple choise question</li>
                    </ol>
                    <button class="btn btn-primary" onclick="window.location.href = '/publish';">Get answers</button>
                </div>
            </div>
            <div class="col">
                <div class="image-column-third">
                    <img src="{% static "img/become_publisher.png" %}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding: 5em">
        <div class="row">
            <div class="col">
                <div class="container" style="padding: 5em;">
                    <h2>Become a user: </h2>
                    <ol>
                        <li>Click website</li>
                        <li>Stay on for a time duration count down</li>
                        <li>Answer multiple choice question</li>
                        <li>Receive ETH as the reward</li>
                    </ol>
                    <button class="btn btn-success">Earn ETH</button>
                </div>
            </div>
            <div class="col">
                <div class="image-column-third">
                    <img src="{% static "img/become_user.png" %}"/>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}