{% extends "home/base.html" %}
{% load static %}


{% block title %}Tasks{% endblock title %}

{% block content %}
    {% for task in tasks %}
        <p style="padding:5em;">
            Title: {{ task.title }} <br>
            Website: <a href="{{ task.website_link }}">{{ task.website_link }}</a><br>

            Earn: <a href="{% url "earn" task.id %}">Earn</a><br>

            Reward per click: {{ task.reward_per_click }} <br>
            Time duration: {{ task.time_duration }} <br>
            Questions: <br>
            {% for question in task.questions.all %}
                Title: {{ question.title }} <br>
            {% endfor %}
        </p>
    {% endfor %}
{% endblock %}